# Byte-compiled / cache
__pycache__/
*.py[cod]
*__pycache__

# Virtual environments
.venv/
.env/
venv/

# Dataset artifacts
*_imgs_*/
*.zip

# Model artifacts
*.pth
*_accuracy.png

# Logs & misc
*.log
.DS_Store
Thumbs.db

# Python tooling
pip-wheel-metadata/
*.egg-info/

# Editor / OS
.idea/
.vscode/
shape_ids.txt
